body {
	background-color: lightblue;
}
div {
	text-align: center;
	font-family: 'Anton', sans-serif;
}
h1 {
	font-size: 35px;
}

.outerContainer{
	margin-top: 100px;
}
.boardContainer {
	width: 600px;
	margin: 0 auto;
}

.gameBox {
	border: 1px solid darkgrey;
	border-bottom: 5px solid darkgrey;
	border-radius: 25px 25px 25px 25px;
	margin: 3px;
	padding: 0px;
	width: 180px;
	height: 180px;
	background-color: rgba(211, 255,249,1);
	float: left;
}
.playerX	{
	background:url("../svg/x_1.svg");
	background-color: rgba(66,119,153,0.7);
	border: 2px solid darkgrey;
	border-bottom:5px solid darkgrey;
}

.playerY {
	background:url("../svg/o.svg");
	background-color: rgba(204,149,149,0.7);
	border: 2px solid darkgrey;
	border-bottom:5px solid darkgrey;
}
.sidebar {
	border:1px solid blue;
	float:left;

}

.titlebox {
	text-align: center;
	margin:0 auto;
	background-color: lightgrey;
	border-bottom: 5px solid darkgrey;
}

.coverAll {
	position: absolute;
	top: 100px;
	left: 30%;
	border: 5px solid lightgrey;
	border-radius: 15px;
	width: 600px;
	height: 600px;
	background-color: white;
	z-index: 1;
	opacity: 1;
}
.row {
	height:200px;
	width: 200px;
	margin: 0 auto;	
	float:left;
}