div {
	border:1px solid black;
}
h1 {
	font-size: 15px;
}

.outerContainer{
	margin-top: 100px;
}
.boardContainer {
	width: 420px;
	margin: 0 auto;
}

.gameBox {
	border-radius: 15px;
	margin: 5px;
	padding: 0px;
	width: 80px;
	height: 80px;
	border: 10px solid darkgrey;
	float: left;
}
.playerX	{
	background:url("../svg/x_1.svg");
	background-color: lightblue;
}

.playerY {
	background:url("../svg/o.svg");
	background-color: lightred;
}
.sidebar {
	border:1px solid blue;
	float:left;

}

.titlebox {
	text-align: center;
	margin:0 auto;
}

.coverAll {
	position: absolute;
	top: 100px;
	border: 5px solid lightgrey;
	border-radius: 10px;
	width: 600px;
	height: 600px;
	background-color: white;
	z-index: 1;
	opacity: 1;
}
.row {
	height:120px;
	width: 120px;
	margin: 0 auto;	
	float:left;
}