div {
}
h1 {
	font-size: 15px;
}

.outerContainer{
	margin-top: 100px;
}
.boardContainer {
	width: 400px;
	margin: 0 auto;
}

.gameBox {
	border-radius: 15px;
	margin: 5px;
	padding: 0px;
	width: 100px;
	height: 100px;
	border: 10px solid darkgrey;
	float: left;
}
.playerX	{
	background:url("../svg/x_1.svg");
}

.playerY {
	background:url("../svg/o.svg")
}
.sidebar {
	border:1px solid blue;
	float:right;
}

.titlebox {
	text-align: center;
	margin:0 auto;
}